@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
}

header h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 60px;
}

body {
  background: linear-gradient(270deg, #8a2be2, #4b0082, #8a2be2);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

main #forms {
  width: 350px;
  height: 400px;
  padding: 25px;
  background: linear-gradient(270deg, #8a2be2, #4b0082, #8a2be2);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite, borderAnimation 2s ease infinite;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.5em;
  text-align: center;
  gap: 5px;
}

main #forms h2 {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.input-forms label {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.input-forms input {
  height: 25px;
  border: transparent;
  outline: none;
  border-radius: 8px;
  background-color: #b870f3;
}

.input-forms input::selection {
  background-color: transparent;
  color: #ffffff;
}

#name-error {
  align-self: flex-start;
  margin-left: 35px;
  font-size: 18px;
  color: #f80e0ec5;
}

#email-error {
  align-self: flex-start;
  margin-left: 35px;
  font-size: 18px;
  color: #f80e0ec5;
}

#password-error {
  align-self: flex-start;
  margin-left: 35px;
  font-size: 18px;
  color: #f80e0ec5;
}

#btn-validate {
  background-color: #8a2be2; 
  color: white; 
  padding: 7px 18px; 
  font-size: 16px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  text-align: center; 
  text-decoration: none; 
  transition: background-color 0.3s; 
}

#btn-validate:hover {
  background-color: #b870f3; /
}

#btn-clean {
  background-color: #8a2be2; 
  color: white; 
  padding: 7px 18px; 
  font-size: 16px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  text-align: center; 
  text-decoration: none; 
  transition: background-color 0.3s; 
}

#btn-clean:hover {
  background-color: #b870f3; /
}

.forms-success {
  color: #18df39c5;
  font-family: "Kanit", sans-serif;
}

.forms-failed {
  color: #f80e0ec5;
  font-family: "Kanit", sans-serif;
}

.input-success {
  border: 2px solid #06a714c5;
}

.input-error {
  border: 2px solid #f80e0ec5;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: "Kanit", sans-serif;
}

::selection {
  background-color: transparent;
  color: #000000c5;
}

@media (max-width: 375px) {
  main {
    padding: 20px;
    height: 60vh;
    width: 100%;
    text-align: center;
  }

  main #forms {
    height: 500px;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes borderAnimation {
  0% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}
